
<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <span>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">David Williams Not More</strong>
                        </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="mailbox.html">Mailbox</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Account/LogOut">Logout</a></li>
                </ul>
            </div>
            <div class="logo-element">
                IN+
            </div>
        </li>
        <li class="active">
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Admin</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Admin Finance<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Currency Definition</a></li>
                        <li><a href="~/HummanResources/Country/Create">Countries Definition </a></li>
                        <li><a href="~/HummanResources/Province/Create">Province Definition</a></li>
                        <li><a href="~/HummanResources/Region/Create">Region Definition</a></li>
                        <li><a href="~/HummanResources/District/Create">District Definition</a></li>
                        <li><a href="~/HummanResources/City/Create">City Definition</a></li>
                        <li><a href="~/HummanResources/Area/Create">Area Definition</a></li>
                        <li><a href="~/HummanResources/Employee/Create">Employee Definition</a></li>
                        <li><a href="dashboard_2.html">Business Unit Definition</a></li>
                        <li><a href="~/GeneralLedger/ChartOfAccount/Index">Chart Of Account</a></li>
                        <li><a href="~/GeneralLedger/VoucherType/Index">Voucher Type Definition</a></li>
                        <li><a href="dashboard_2.html">Cost Center Definition</a></li>
                        <li><a href="dashboard_2.html">Opening Balance </a></li>
                        <li><a href="~/GeneralLedger/Journal/Index">Voucher Posting </a></li>
                        <li><a href="dashboard_2.html">Auto Year Closing </a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Admin Inventory / Stores<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/HummanResources/BasicSetting/Create">Basic Form</a></li>
                        <li><a href="~/HumanResource/UOM/Create">Measuring Unit Definition</a></li>
                        <li><a href="~/HumanResource/ItemClass/Create">Item Class Definition</a></li>
                        <li><a href="~/HumanResource/PriceCategory/Create">Price Category Definition</a></li>
                        <li><a href="~/HumanResource/ItemType/Create">Item Type Definition</a></li>
                        <li><a href="~/HumanResource/Category/Create">Item Category Definition</a></li>
                        <li><a href="~/HumanResource/Packing/Create">Product Packings Definition</a></li>
                        <li><a href="~/HumanResource/MasterItem/Create">Master Item Definition</a></li>
                        <li><a href="~/HumanResource/Color/Create">Color Definition</a></li>
                        <li><a href="~/HumanResource/Brand/Create">Brand Definition</a></li>
                        <li><a href="~/Inventory/Item/Create">Item Definition</a></li>
                        <li><a href="~/RealEstate/PlotStatus/Create">Plot Status Definition</a></li>
                        <li><a href="index.html">Product Profiler</a></li>
                        <li><a href="index.html">Payment Term Definition</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Admin Purchases<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/AccountPayable/Supplier/Create">Supplier Definition</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Admin Sales<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Mode Of Delivery Definition</a></li>
                        <li><a href="dashboard_2.html">Designation Definition </a></li>
                        <li><a href="~/AccountReceivable/Salesman/Create">Sales Person Definition</a></li>
                        <li><a href="~/HumanResource/Area/Create">Area Definition</a></li>
                        <li><a href="dashboard_2.html">Customer Definition</a></li>
                        <li><a href="dashboard_2.html">Price List</a></li>
                        <li><a href="index.html">Update Price</a></li>
                        <li><a href="index.html">Discount Rates</a></li>
                        <li><a href="index.html">Sales Type</a></li>
                        <li><a href="index.html">Sales Return Reasons</a></li>
                        <li><a href="index.html">Transportation Defination</a></li>
                    </ul>
                </li>
                <li><a href="index.html">Sms</a></li>
            </ul>
        </li>

        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Finance/Account Inventory</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Vouchers<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/GeneralLedger/Journal/Create?type=JV">Journal Vouchers [JV]</a></li>
                        <li><a href="~/GeneralLedger/Journal/Create?type=BPV">Bank Payment Voucher[BPV]</a></li>
                        <li><a href="~/GeneralLedger/Journal/Create?type=BRV">Bank Receipt Voucher[BRV]</a></li>
                        <li><a href="~/GeneralLedger/Journal/Create?type=CPV">Cash Payment Voucher[CPV]</a></li>
                        <li><a href="~/GeneralLedger/Journal/Create?type=CRV">Cash Receipt Voucher[CRV]</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Cheque Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Bank Definition</a></li>
                        <li><a href="dashboard_2.html">Cheque Book Definition </a></li>
                        <li><a href="index.html">Cheque Book Record Keeping</a></li>
                        <li><a href="dashboard_2.html">Cheque Replacement/Cancellation</a></li>
                        <li><a href="dashboard_2.html">Cheque Wise Status Report</a></li>
                    </ul>
                </li>
                <li><a href="index.html">Bank Reconcilation</a></li>
                <li><a href="index.html">Financial Budgeting</a></li>
                <li>
                    <a href="#">Fixed Assets Register<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Place Of Fixation</a></li>
                        <li><a href="dashboard_2.html">FAR Parent Categories</a></li>
                        <li><a href="index.html">FAR Child Categories</a></li>
                        <li><a href="dashboard_2.html">Item Catagory Definition</a></li>
                        <li><a href="index.html">Fixed Assets Register (FAR) Opening Balance</a></li>
                        <li><a href="index.html">Allocation Of Assets to Users Individually</a></li>
                        <li><a href="index.html">Transfer Of Assets / Change Users</a></li>
                        <li><a href="index.html">Fixed Assets Auto Depreciation Calculator</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cheque Realization<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Realization/Status Of Cheques</a></li>
                        <li><a href="index.html">Realization Of Cheques Adjustment</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Invoice Base Collection<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Opening Balance Invoice Wise</a></li>
                        <li><a href="dashboard_2.html">Cash Receipts [Cash] </a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Purchase</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index.html">Purchase Approval</a></li>
                <li><a href="index.html">Purchase Order[PO]</a></li>
                <li>
                    <a href="#">Imports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">ITP Value Definition</a></li>
                        <li><a href="dashboard_2.html">Types of LC </a></li>
                        <li><a href="index.html">LC Charges Definition</a></li>
                        <li><a href="dashboard_2.html">LC Establishment</a></li>
                        <li><a href="dashboard_2.html">LC Amendment</a></li>
                        <li><a href="dashboard_2.html">Commercial Invoice</a></li>
                        <li><a href="dashboard_2.html">LC-In-Bound/Ex-Bound</a></li>
                        <li><a href="dashboard_2.html">Bill Of Entry</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Production</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index.html">Production Stage Entry</a></li>
                <li><a href="index.html">Product Quality</a></li>
                <li><a href="index.html">Yield Entry</a></li>
                <li><a href="index.html">Packing Plan</a></li>
                <li><a href="index.html">Product Packing</a></li>
            </ul>
        </li>
        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Finished Store</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index.html">Production Plan</a></li>
                <li><a href="index.html">Finished Goods receiving</a></li>
                <li><a href="index.html">Finished Goods QA</a></li>
            </ul>
        </li>
        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Sales</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index.html">Sales Person Target</a></li>
                <li><a href="index.html">Customer Sale Target</a></li>
                <li><a href="index.html">Quotation Entry</a></li>
                <li><a href="index.html">Sales Order Booking</a></li>
                <li><a href="index.html">Sales Order Approval</a></li>
                <li><a href="index.html">Order Processing</a></li>
                <li><a href="index.html">Order Shipment</a></li>
                <li><a href="index.html">Sales Invoice</a></li>
                <li><a href="index.html">Sales Return</a></li>
                <li><a href="~/RealEstate/Sale/Create">Sale Plot</a></li>
                <li><a href="index.html">Free Items Issue Note</a></li>
            </ul>
        </li>
        <li class="active">
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Real Estate</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Definations<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/HumanResource/Block/Create">Block</a></li>
                        <li><a href="~/HumanResource/ActionType/Create">Action Type</a></li>
                        <li><a href="~/HumanResource/PlotStatus/Create">Plot Status</a></li>
                        <li><a href="~/HumanResource/PlotFile/Create">Plot File</a></li>
                        <li><a href="~/HumanResource/DealValidity/Create">Deal Validity</a></li>
                        <li><a href="~/HumanResource/PriceList/Create">Price List</a></li>
                        <li><a href="~/HumanResource/PriceCategory/Create">Price Category</a></li>
                        <li><a href="~/HumanResource/DeliveredVia/Create">Delivered Via</a></li>
                        <li><a href="~/HumanResource/PaymentType/Create">Payment Type</a></li>
                        <li><a href="~/HumanResource/PayType/Create">Pay Type</a></li>
                        <li><a href="~/HumanResource/ItemClass/Create">Item Class Definition</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#">Transactions<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/RealEstate/PlotFile/Create">Plot File</a></li>
                        <li><a href="~/RealEstate/Sale/Create">Plot Sale</a></li>
                        <li><a href="~/RealEstate/PriceCategory/Create">Price Category Definition</a></li>
                        <li><a href="~/RealEstate/ItemType/Create">Item Type Definition</a></li>
                        <li><a href="~/RealEstate/PlotRegisteration/Create">Plot Registration</a></li>
                        <li><a href="~/RealEstate/PlotRecovery/Create">Plot Recovery</a></li>
                        <li><a href="~/RealEstate/PlotCancellation/Create">Plot Cancellation</a></li>

                        <li><a href="~/PlotDashboard/Index">Plot Dashboard</a></li>
                        @*<li><a href="~/HumanResource/PaymentHistory/Create">Total Plots</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Available</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Reserved</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Registered</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Booking</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Confirmed</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Installment</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Possession</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Allotment</a></li>
                            <li><a href="~/HumanResource/PaymentHistory/Create">Sold</a></li>*@
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Reports</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Financial Accounting System Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Chart Of Account</a></li>
                        <li><a href="dashboard_2.html">Payable Summary</a></li>
                        <li><a href="index.html">Receivable Summary</a></li>
                        <li><a href="dashboard_2.html">Vouchers Reports</a></li>
                        <li><a href="dashboard_2.html">General Ledger</a></li>
                        <li><a href="dashboard_2.html">Monthly Trial Balance</a></li>
                        <li><a href="dashboard_2.html">Trial Balance</a></li>
                        <li><a href="dashboard_2.html">Notes Of the Accounts</a></li>
                        <li><a href="dashboard_2.html">Balance Sheet</a></li>
                        <li><a href="dashboard_2.html">Profit Loss Account</a></li>
                        <li><a href="dashboard_2.html">Daily Profit Loss Statement</a></li>
                        <li><a href="dashboard_2.html">Audit Trial Reports</a></li>
                        <li><a href="dashboard_2.html">Recovery Sheet A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Inventory / Stores Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Material Management Reports[MMR]</a></li>
                        <li><a href="dashboard_2.html">Stock Management Reports[SMR] </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Purchasing Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Purchase Order Reports</a></li>
                        <li><a href="dashboard_2.html">Units Of Receipts Against PO </a></li>
                        <li><a href="index.html">Outstanding Purchase Orders Report</a></li>
                        <li><a href="dashboard_2.html">Cancelled Purchase Orders Report</a></li>
                        <li><a href="dashboard_2.html">Payable Aging</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sales Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Sales Order [Pending]</a></li>
                        <li><a href="dashboard_2.html">Customer List </a></li>
                        <li><a href="index.html">Sales Summary</a></li>
                        <li><a href="dashboard_2.html">Sales Report [Detail]</a></li>
                        <li><a href="dashboard_2.html">Sales Report</a></li>
                        <li><a href="dashboard_2.html">Product Wise Sales Report</a></li>
                        <li><a href="dashboard_2.html">Customer Wise Sales Report</a></li>
                        <li><a href="dashboard_2.html">Sales Return</a></li>
                        <li><a href="dashboard_2.html">Daily Sales Summary Report</a></li>
                        <li><a href="dashboard_2.html">Yearly Sales Report</a></li>
                        <li><a href="dashboard_2.html">Product wise Sales Report</a></li>
                        <li><a href="dashboard_2.html">Invoice Wise Sale Report</a></li>
                        <li><a href="dashboard_2.html">Salesman Wise Sale Report</a></li>
                        <li><a href="dashboard_2.html">Daily Sale Report</a></li>
                        <li><a href="dashboard_2.html">Brand Wise Sale Report</a></li>
                        <li><a href="dashboard_2.html">Brand Wise Comparison Sale Report</a></li>
                        <li><a href="dashboard_2.html">Most Sale Product Report</a></li>
                        <li><a href="dashboard_2.html">Most Sale Product Comparison Report</a></li>
                        <li><a href="dashboard_2.html">Most Slow Moving Product Report</a></li>
                        <li><a href="dashboard_2.html">Most Slow Moving Product Comparison Report</a></li>
                        <li><a href="dashboard_2.html">Dealer's Sale Wise Collection Comparison</a></li>
                        <li><a href="dashboard_2.html">Current Aging Report</a></li>
                        <li><a href="dashboard_2.html">Sale Comparison </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Invoice Based Sale Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="index.html">Sale Report</a></li>
                        <li><a href="dashboard_2.html">Customer Ledger </a></li>
                        <li><a href="index.html">Customer Ledger With Aging</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"> Utilities / Tools <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/ChangePassword">Change Password</a></li>
                <li><a href="~/Account/LogOut">Re-Login </a></li>
                <li><a href="index.html">Change Working Year</a></li>
                <li><a href="dashboard_2.html">Financial fixed</a></li>
                <li><a href="dashboard_2.html">Server Setup</a></li>
                <li><a href="~/Account/Index">Logon User List</a></li>
                <li><a href="dashboard_2.html">Item / Product Tracking Utility</a></li>
                <li><a href="dashboard_2.html">Item / Product Opening Balance Import</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">User Management</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">User Rights Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a href="~/Account/RoleIndex">All Roles</a></li>
                        <li><a href="~/Account/CreateRole">Create Role</a></li>
                        <li><a href="~/Account/RoleIndex">Bind Role</a></li>
                    </ul>
                </li>

                @*<li>
                        <a href="#">Transactions<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="~/PlotDashboard/Index">Plot Dashboard</a></li>
                        </ul>
                    </li>*@
            </ul>
        </li>

        <li class="landing_link">
            <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
        </li>
        <li class="special_link">
            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
        </li>
    </ul>

</div>
