 @{ 
<style>
     .heading{
         color:forestgreen;
     }
</style>
     }
<h1 class="control-label text-danger font-weight-bold ">Where You have to go</h1>
<div class="wrapper wrapper-content">
 
    <div class="row ibox-content">
        <div class="col-sm-12 justify-content-center row">
            <div class="col-sm-4 ml-2 myTable text-center pt-4 shadow">
                <a href="default2.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/avenue3.png" class="rounded" width="250" height="120">
                    <h3>&nbsp;</h3>
                </a>
            </div>
            <div class="col-sm-4 ml-2 myTable shadow text-center pt-4" onmouseover="">
                <a href="default3.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/Ayub LOGO.png" class="rounded" width="250" height="120">
                    <h3 class="text-center">&nbsp;</h3>
                </a>
            </div>
            <div class="col-sm-3 ml-2 myTable shadow text-center pt-4" onmouseover="">
                <a href="default3.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/LOGO Shaheen Orchard.png" class="rounded" width="250" height="120">
                    <h3 class="text-center">&nbsp;</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-12 justify-content-center mt-4 row">
            <div class="col-sm-4 myTable shadow text-center pt-4" onmouseover="">
                <a href="default4.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/avenue1.png" class="rounded" width="250" height="120">
                    <h3 class="text-center">&nbsp;</h3>
                </a>
            </div>

            <div class="col-sm-4 ml-2 myTable shadow text-center pt-4" onmouseover="">
                <a href="default6.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/Taxila Gardens.png" class="rounded" width="250" height="120">
                    <h3 class="text-center">&nbsp;</h3>
                </a>
            </div>

            <div class="col-sm-4 ml-2 myTable text-center pt-4 shadow">
                <a href="default5.aspx" style="cursor:pointer;text-decoration:none;" target="_blank">
                    <img src="~/TechBiteImage/Branch/iqbalblock.png" class="rounded" width="250" height="120">
                    <h3>&nbsp;</h3>
                </a>
            </div>
        </div>
    </div>


</div>
@section customJS{
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

            $(document).ready(function() {

 


            });
    </script>
}

