@model TechBiteERP.Model.Models.PlotRecovery


@{
    ViewData["Title"] = "Plot Recovery";
    ViewData["CurrentPage"] = "Plot Recovery";

}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 style="color:red;"> <label class="control-label">  Add New Plot Recovery </label></h2>
                <span class="label label-success pull-right status"></span>
            </div>
            <div class="ibox-content ibox-content-1">
                <form class="form-horizontal" asp-action="Create" asp-controller="PlotRecovery" enctype="multipart/form-data"  onsubmit="return checkValidation();">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="FromDate" class="control-label datepicker col-lg-4">From Date</label>
                                        <div class="col-lg-8">
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="ToDate" class="control-label datepicker col-lg-4">To Date</label>
                                        <div class="col-lg-8">
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" asp-for="PlotId">Plot</label>
                                        <div class="col-lg-8">
                                            <select asp-for="PlotId" asp-items="@ViewBag.Items" class="form-control" data-validation="required" onchange="getItemDetail();">
                                                <option selected="selected" disabled>Select...</option>
                                            </select>
                                            <span asp-validation-for="PlotId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label   -for="Block" class="control-label col-lg-4">  Block</label>
                                        <div class="col-lg-8">
                                            <input asp-for="Block" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Client" class="control-label col-lg-4"> Client</label>
                                        <div class="col-lg-8">
                                            <input asp-for="Client" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" asp-for="LoginId">Delivered By</label>
                                        <div class="col-lg-8">
                                            <select asp-for="LoginId" asp-items="@ViewBag.ItemTypes" class="form-control" data-validation="required">
                                                <option selected="selected" disabled>Select...</option>
                                            </select>
                                            <span asp-validation-for="LoginId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" asp-for="Stations">Delivered Via</label>
                                        <div class="col-lg-8">
                                            <select asp-for="Stations" asp-items="@ViewBag.DeliveredVia" class="form-control" data-validation="required">
                                                <option selected="selected" disabled>Select...</option>
                                            </select>
                                            <span asp-validation-for="Stations" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="FormNo" class="control-label col-lg-4">  Form No</label>
                                        <div class="col-lg-8">
                                            <input asp-for="FormNo" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-lg-4 col-lg-offset-2">
                                <a class="btn btn-white" href="/RealEstate/PlotRecovery/Index" sp-controller="PlotRecovery" sp-action="Index">Back</a>
                                <input type="submit" value="Submit" class="btn btn-info" asp-action="Create" asp-controller="PlotRecovery" />
                                @if (Model.Id != 0)
                                {
                                    <a class="btn btn-primary" href="~/Report/PrintBaseReport?id=@Model.Id&&reportName=PlotRecovery">Print</a>
                                }
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section customJS{
    <script src="~/lib/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>

        function checkValidation() {
            debugger;
            var PlotId = $('#PlotId').val();
            var LoginId = $('#LoginId').val();
            var BlockId = $('#Block').val();
            var Client = $('#Client').val();
            var Stations = $('#Stations').val();
            var FormNo = $('#FormNo').val();
            if (PlotId == "Select...") {
                swal("", "Please Select Plot Field.", "error");
                return false;

            }
            if (Client == "") {
                swal("", "Please Enter Client First", "error");
                return false;

            }
            if (PlotId == null) {
                swal("", "Please Select Plot First", "error");
                return false;

            }
            if (LoginId == null) {
                swal("", "Please Select Delivered By First", "error");
                return false;

            }
            if (BlockId == null) {
                swal("", "Please Select Block First", "error");
                return false;

            }
            if (Stations == null) {
                swal("", "Please Select Delivered Via First", "error");
                return false;

            }
           
            if (FormNo == "") {
                swal("", "Please Enter Form No First", "error");
                return false;

            }
            return true;
        }

        function getItemDetail() {
            var PlotId = $('#PlotId').val();
            $.ajax({
                url: '/RealEstate/Sale/getItemDetail?id=' + PlotId,
                type: 'GET'
            }).done(function (data) {
                debugger;
                $('#Block').val(data.blockID);
            });
        }
    </script>
}
