

#collapse-button {
    position: absolute;
    display: none;
    right: 0px;
    z-index: 100000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    background-color: white;
}

#collapse-button:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
