@model OpeningBalance
@{
    ViewData["Title"] = "Create Opening Balance";
    ViewData["CurrentPage"] = "Opening Balance";

}
@section customCSS{
    <link href="~/css/plugins/jsGrid/jsgrid.css" rel="stylesheet" />
    <link href="~/css/plugins/jsGrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <style>
        .jsgrid-grid-body {
            height: auto !important;
        }

        .hide {
            display: none;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 style="color:red;"> <label class="control-label"> Opening Balance </label></h2>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" id="VoucherTypeForm" method="post" asp-action="Create" asp-controller="BalanceOpening" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <input type="hidden" asp-for="Id" />
                    </div>
                    <div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="FinancialYearID" class="col-lg-4 control-label">Working Year</label>
                                <div class="col-lg-8">
                                    <select name="WorkingYear" class="form-control" asp-for="FinancialYearID" asp-items="@ViewBag.WorkingYear">
                                    </select>
                                    <span asp-validation-for="FinancialYearID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="AccountId" class="col-lg-4 control-label">Account</label>
                                <div class="col-lg-8">
                                    <select name="VoucherTypeId" class="form-control" asp-for="AccountId" asp-items="@ViewBag.Accounts">
                                    </select>
                                    <span asp-validation-for="AccountId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="CostCenterId" class="col-lg-4 control-label">Cost Center</label>
                                <div class="col-lg-8">
                                    <select name="VoucherTypeId" class="form-control" asp-for="CostCenterId" asp-items="@ViewBag.VoucherTypes">
                                    </select>
                                    <span asp-validation-for="CostCenterId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="BranchId" class="col-lg-4 control-label">WH/POS</label>
                                <div class="col-lg-8">
                                    <select name="BranchId" class="form-control" asp-for="BranchId" asp-items="@ViewBag.branches">
                                    </select>
                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 chiller_cb">
                            <div class="chiller_cb pull-right">
                                <input asp-for="Dr" id="myCheckbox" type="checkbox" checked>
                                <label for="myCheckbox">Debit</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-lg-2 chiller_cb">
                            <div class="chiller_cb pull-right">
                                <input asp-for="Cr" id="myCheckbox" type="checkbox" checked>
                                <label for="myCheckbox">Credit</label>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-4 col-lg-offset-4">
                                    <a class="btn btn-white" asp-action="Index" asp-controller="BalanceOpening">Back</a>
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script src="~/lib/validate/jquery.validate.min.js"></script>

}
